body {
  background: #b57bff;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
  color: white;
  padding: 20px;
}

.title {
  font-size: 40px;
  font-weight: bold;
  text-shadow: 0 0 10px #fff;
}

button {
  display: block;
  width: 80%;
  margin: 10px auto;
  padding: 15px;
  font-size: 20px;
  border: none;
  border-radius: 20px;
  background: white;
  color: purple;
  font-weight: bold;
}

#poemBox {
  margin-top: 20px;
  font-size: 22px;
  background: rgba(255,255,255,0.2);
  padding: 20px;
  border-radius: 20px;
}
